h1,
h2{

     font: "Gotham", sans-serif, bold;
        border-bottom: 2px solid #000;
      }
      h2:first-line{
        background:#000;
        color:#fff;
      }

h3,
h4{
    font-weight: bold;
}
h5,
h6 {
    font-family: "Gotham", sans-serif, bold
}

body {
    font-family: "Gotham", sans-serif, bold
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* banner {
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    overflow-x: hidden;
} */
section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section .content {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.description {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    text-align: justify;
  text-justify: inter-word;
    color: #000;
    
    
    /*justify the text*/
    
}
button{
    background: none;
    color: #000;
    border-radius: 30px;
}

div .buttonChanson {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.scrollNext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
}

footer {
    
    background: #000;
    color: #fff;}
/*------------------------------- POPUP ---------------------------------------------*/
#abc {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    ;
    overflow: auto;
    z-index: 1050;
}

img#close {
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer
}

div#popupContact {
    position: absolute;
    left: 55%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#form {
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff
}

/* section svg,
.description {
    display: flex;
    justify-content: space-around;
} */